	<div class="mt-3">
<div class="container">
    <% if @book.errors.any? %>
  <%= @book.errors.count %>件のerrorが発生しました
    <ul>
  <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
   </ul>
<% end %>

    <div class="row">
<div class="col-md-3">



<h2>User info</h2>

<%= attachment_image_tag user,:profile_image, :fill,100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

<table class="table">
    <tr>
        <th>name</th>
        <th><%= user.name %></th>
    </tr>
    <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
    </tr>
</table>


<p><%= link_to edit_user_path(@user.id),class:"btn btn-outline-secondary w-100 "  do%>
        <i class="fas fa-user-cog"></i>
        <% end %></p>


<h2>New book</h2>
<p>Title</p>
    <%= form_with model:@book, local:true do |f| %>
        <div class="form-group">
            <label for="title1"><%= f.text_field :title,class:"w-100"%></label>

<p>Opinion</p>
        <div class="form-group">
            <label for="body1"><%= f.text_area :body,class:"w-100" %></label>

<%= f.submit 'Create Book',class:"btn btn-success" %>
<% end %>

</div>

</div>
</div>