<div class="notice"><%= notice %></div>

<%= render 'users/list', user: @user %>


<div class="col-lg-8">
<h2>Book detail</h2>

<table class="table">
    <tbody>
        <tr>
            <td><%= link_to user_path(@user.id) do %>
                <%= attachment_image_tag @book_list.user, :profile_image, :fill,50, 50, format: 'jpeg', fallback: "no_image.jpg" %><% end %></br>
            <%= link_to user_path(@user.id) do %><%= @user.name %>
            <% end %></td>

            <td><%= link_to book_path(@book_list.id) do %>
            <%= @book_list.title %>
            <% end %></td>

            <td><%= @book_list.body %></td>

            <% if @book_list.user == current_user %>
            <td><%=link_to "edit", edit_book_path(@book_list),class:"btn btn-success" %></td>

            <td><%= link_to "destroy", book_path(@book_list),method: :delete,class:"btn btn-danger" %></td>
            <% end %>

        </tr>
    </tbody>
</table>
</div>
</div>